<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <img src="/images/floral.png" alt="flowers"/>
    <img src="/images/tree.png" alt="tree"/>
    <img src="/images/Watercolor.png" alt="color sploch"/>
</body>
</html>