

#container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
}


#header {
  border: solid red 2px;
  height: 20%;
  width: 100%;
}
#body {
  border: solid red 2px;
  height: 60%;
  width: 100%;
  display: flex;
}
#footer {
  border: solid red 2px;
  height: 20%;
  width: 100%;
}

#left {
  width: 20%;
  height: 100%;
  border: solid red 2px;
}
#center {
  width: 60%;
  height: 100%;
  border: solid red 2px;
}
#right {
  width: 20%;
  height: 100%;
  border: solid red 2px;
}